<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233586048561-ovcse86d29jj1obcrq29nvptji73mlkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233586048561-ovcse86d29jj1obcrq29nvptji73mlkt</string>
	<key>API_KEY</key>
	<string>AIzaSyDDpG0w5pkZlqZ-d_NJGMGE4u4Ic2p_th0</string>
	<key>GCM_SENDER_ID</key>
	<string>233586048561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myzk.Walk-Win</string>
	<key>PROJECT_ID</key>
	<string>walkwin-4a810</string>
	<key>STORAGE_BUCKET</key>
	<string>walkwin-4a810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:233586048561:ios:56351795cb75a6a447df10</string>
</dict>
</plist>
